USE [master]
GO
/****** Object:  Database [QuanLyNhaThuoc]    Script Date: 11/4/2023 3:04:21 PM ******/
CREATE DATABASE [QuanLyNhaThuoc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyNhaThuoc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyNhaThuoc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QuanLyNhaThuoc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QuanLyNhaThuoc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyNhaThuoc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyNhaThuoc]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 11/4/2023 3:04:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[SanPhamID] [varchar](255) NOT NULL,
	[HoaDonID] [varchar](255) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[GiaBan] [money] NOT NULL,
	[ThanhTien] [money] NOT NULL,
 CONSTRAINT [PK__ChiTietH__0F815A7D7B2DCB90] PRIMARY KEY CLUSTERED 
(
	[SanPhamID] ASC,
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HangNhap]    Script Date: 11/4/2023 3:04:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangNhap](
	[SanPhamID] [varchar](255) NOT NULL,
	[NhaCungCapID] [varchar](255) NOT NULL,
	[SoLuong] [int] NOT NULL,
	[TongTien] [money] NOT NULL,
	[NgayNhap] [datetime] NOT NULL,
 CONSTRAINT [PK_HangNhap] PRIMARY KEY CLUSTERED 
(
	[SanPhamID] ASC,
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 11/4/2023 3:04:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[HoaDonID] [varchar](255) NOT NULL,
	[NhanVienID] [varchar](255) NOT NULL,
	[KhachHangID] [varchar](255) NOT NULL,
	[TongTien] [money] NOT NULL,
	[NgayLap] [datetime] NOT NULL,
 CONSTRAINT [PK__HoaDon__6956CE692B8FAF36] PRIMARY KEY CLUSTERED 
(
	[HoaDonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 11/4/2023 3:04:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[KhachHangID] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[GioiTinh] [nvarchar](255) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[SoDienThoai] [varchar](255) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__KhachHan__880F211B81C57FDD] PRIMARY KEY CLUSTERED 
(
	[KhachHangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 11/4/2023 3:04:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[LoaiID] [varchar](255) NOT NULL,
	[TenLoai] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_LoaiSanPham] PRIMARY KEY CLUSTERED 
(
	[LoaiID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 11/4/2023 3:04:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[NhaCungCapID] [varchar](255) NOT NULL,
	[TenNhaCungCap] [nvarchar](255) NOT NULL,
	[SoDienThoai] [varchar](255) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__NhaCungC__8B89172786D71F78] PRIMARY KEY CLUSTERED 
(
	[NhaCungCapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 11/4/2023 3:04:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[NhanVienID] [varchar](255) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[GioiTinh] [nvarchar](255) NOT NULL,
	[NgaySinh] [datetime] NULL,
	[Email] [varchar](255) NOT NULL,
	[SoDienThoai] [varchar](255) NOT NULL,
	[DiaChi] [nvarchar](255) NOT NULL,
	[ChucVu] [nvarchar](255) NOT NULL,
	[TenTaiKhoan] [varchar](255) NOT NULL,
	[MatKhau] [varchar](255) NOT NULL,
 CONSTRAINT [PK__NhanVien__E27FD7EA824E98C7] PRIMARY KEY CLUSTERED 
(
	[NhanVienID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 11/4/2023 3:04:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[SanPhamID] [varchar](255) NOT NULL,
	[ImgPath] [varchar](255) NULL,
	[TenSanPham] [nvarchar](255) NOT NULL,
	[ThanhPhan] [nvarchar](500) NOT NULL,
	[CachDung] [nvarchar](1000) NOT NULL,
	[XuatXu] [nvarchar](255) NOT NULL,
	[NgaySanXuat] [datetime] NOT NULL,
	[NgayHetHan] [datetime] NOT NULL,
	[DonGia] [money] NOT NULL,
	[SoLuongTon] [int] NOT NULL,
	[LoaiID] [varchar](255) NOT NULL,
	[TinhTrang] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK__SanPham__05180FF4F778C2C4] PRIMARY KEY CLUSTERED 
(
	[SanPhamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [DiaChi]) VALUES (N'KH110123110401', N'Nguyễn Văn Quốc', N'Nam', CAST(N'1990-10-12T00:00:00.000' AS DateTime), N'0123456789', N'quoc123@gmail.com', N'Quận 1, TPHCM')
INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [DiaChi]) VALUES (N'KH110123110501', N'Phạm Thị Khánh An', N'Nữ', CAST(N'1992-12-10T00:00:00.000' AS DateTime), N'0213456789', N'an123@gmail.com', N'Quận 2, TPHCM')
INSERT [dbo].[KhachHang] ([KhachHangID], [HoTen], [GioiTinh], [NgaySinh], [SoDienThoai], [Email], [DiaChi]) VALUES (N'KH110123110601', N'Đặng Văn Quang', N'Nam', CAST(N'1890-02-02T00:00:00.000' AS DateTime), N'0312456789', N'quang123@gmail.com', N'Quận 3, TPHCM')
GO
INSERT [dbo].[LoaiSanPham] ([LoaiID], [TenLoai]) VALUES (N'LSP110123102601', N'Thuốc kháng dị ứng')
INSERT [dbo].[LoaiSanPham] ([LoaiID], [TenLoai]) VALUES (N'LSP110123102602', N'Thuốc kháng viêm')
INSERT [dbo].[LoaiSanPham] ([LoaiID], [TenLoai]) VALUES (N'LSP110123102603', N'Thuốc ngừa thai')
GO
INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [TenNhaCungCap], [SoDienThoai], [DiaChi]) VALUES (N'NCC110123110101', N'Công ty Cổ phần Dược phẩm Agimexpharm (Việt Nam)
', N'0123456789', N'Quận Tân Bình, TPHCM')
INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [TenNhaCungCap], [SoDienThoai], [DiaChi]) VALUES (N'NCC110123110102', N'Nhà máy STADA Việt Nam (Việt Nam)', N'0213456789', N'Quận 1, TPHCM')
INSERT [dbo].[NhaCungCap] ([NhaCungCapID], [TenNhaCungCap], [SoDienThoai], [DiaChi]) VALUES (N'NCC110123110201', N'Công ty TNHH Phil Inter Pharma (Việt Nam)', N'0312456789', N'Gò Công, Tiền Giang')
GO
INSERT [dbo].[NhanVien] ([NhanVienID], [HoTen], [GioiTinh], [NgaySinh], [Email], [SoDienThoai], [DiaChi], [ChucVu], [TenTaiKhoan], [MatKhau]) VALUES (N'NV28102301', N'Nguyễn Huy Hoàng', N'Nam', CAST(N'2003-10-19T00:00:00.000' AS DateTime), N'hoangnguyen.19032003@gmail.com', N'1234567890', N'Quận Tân Bình, TPHCM', N'Nhân viên', N'hoangnguyen123', N'hoangnguyen123')
INSERT [dbo].[NhanVien] ([NhanVienID], [HoTen], [GioiTinh], [NgaySinh], [Email], [SoDienThoai], [DiaChi], [ChucVu], [TenTaiKhoan], [MatKhau]) VALUES (N'NV28102302', N'Trần Gia Huy', N'Nam', CAST(N'2003-10-28T00:00:00.000' AS DateTime), N'huytran123@gmail.com', N'0102030405', N'Quận Gò Vấp, TPHCM', N'Nhân viên', N'huytran123', N'huytran123')
INSERT [dbo].[NhanVien] ([NhanVienID], [HoTen], [GioiTinh], [NgaySinh], [Email], [SoDienThoai], [DiaChi], [ChucVu], [TenTaiKhoan], [MatKhau]) VALUES (N'NV28102303', N'Nguyễn Thị Kim Tuyền', N'Nữ', CAST(N'2000-11-12T00:00:00.000' AS DateTime), N'kimtuyen123@gmail.com', N'0304050607', N'Cam Ranh, Khánh Hoà', N'Quản lý', N'kimtuyen123', N'kimtuyen123')
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_HoaDon] FOREIGN KEY([HoaDonID])
REFERENCES [dbo].[HoaDon] ([HoaDonID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_SanPham] FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_SanPham]
GO
ALTER TABLE [dbo].[HangNhap]  WITH CHECK ADD  CONSTRAINT [FK_HangNhap_NhaCungCap] FOREIGN KEY([NhaCungCapID])
REFERENCES [dbo].[NhaCungCap] ([NhaCungCapID])
GO
ALTER TABLE [dbo].[HangNhap] CHECK CONSTRAINT [FK_HangNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[HangNhap]  WITH CHECK ADD  CONSTRAINT [FK_HangNhap_SanPham] FOREIGN KEY([SanPhamID])
REFERENCES [dbo].[SanPham] ([SanPhamID])
GO
ALTER TABLE [dbo].[HangNhap] CHECK CONSTRAINT [FK_HangNhap_SanPham]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_KhachHang] FOREIGN KEY([KhachHangID])
REFERENCES [dbo].[KhachHang] ([KhachHangID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_KhachHang]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [FK_HoaDon_NhanVien] FOREIGN KEY([NhanVienID])
REFERENCES [dbo].[NhanVien] ([NhanVienID])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [FK_HoaDon_NhanVien]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [FK_SanPham_LoaiSanPham] FOREIGN KEY([LoaiID])
REFERENCES [dbo].[LoaiSanPham] ([LoaiID])
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [FK_SanPham_LoaiSanPham]
GO
USE [master]
GO
